body {
	/*background-image: -moz-linear-gradient(top left, #FFFDF7 0%, #000000 100%); /* Firefox */
	/*background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFDF7), color-stop(1, #000000)); /* Safari and Chrome */
	background: rgba(44, 62, 80, 1.0)
}

p {
	color: white;
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
}

input {
	font-family: Verdana, Arial, sans-serif;
}

:-moz-placeholder {
	color: #AAA;
}

textarea {
	border: 1px solid black;
	vertical-align: top;
	width: 400px;
	color: #555;
}

#wrapper {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	position: relative;
	top: -10px;
	padding-top: 10px;
	width: 500px;
	padding-left: 20px;
	padding-bottom: 20px;
	font-family: Verdana, Arial, sans-serif;
	/*background-image: -moz-linear-gradient(top left, #FFFDF7 0%, #000000 100%); /* Firefox */
	/*background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFDF7), color-stop(1, #000000)); /* Safari and Chrome */
	background: rgba(44, 62, 80, 1.0);
	font-size: 0.8em;
	height: 450px;
	margin-left: 300px;
}

#inputs {
	width: 200px;
	clear: both;
}

#inputs input {
	border: 1px solid black;
	height: 20px;
	width: 100%;
	clear: both;
}

footer {
	color: white;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	bottom: 1px;
}