@charset "utf-8";
/* CSS Document */

body {
	background-image: -moz-linear-gradient(top left, #FFFDF7 0%, #000000 100%); /* Firefox */
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFDF7), color-stop(1, #000000)); /* Safari and Chrome */
}

h3 {
	font-family: 'Raleway', sans-serif;
	margin-left: 1000px;
}

.mail {
	border: 1px solid black;
	height: 30px;
	width: 200px;
}

.user {
	border: 1px solid black;
	height: 30px;
	width: 200px;
}

.newpword{
	border: 1px solid black;
	height: 30px;
	width: 200px;
}

.remail {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#79bbff', endColorstr = '#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid black;
	display:inline-block;
	color:#ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 50px;
	line-height: 50px;
	width: 100px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #528ecc;
}

.remail:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color: #378de5;
}

.remail:active {
	position: relative;
	top: 1px;
}

footer {
	font-family: 'Raleway', sans-serif;
	position: absolute;
	bottom: 1px;
}